#map {
  height: 400px;
  width: 80%;
  border: 1px solid red;
}

.container {
  width: 100%;
  margin: 0 5%;
}

body {
  min-height: 80vh;
}

.footer-container {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: #2d2d2d !important;
  position: relative;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: solid;
  border-color: black;
  background-color: azure;
  padding: 0px 16px;
}

.footer-container a {
  color: white;
}

.footer-container .col1 {
  display: inline-block;
  width: 24vw;
  height: 100%;
  top: 0;
  padding-left: 20px;
  min-height: 200px;
}

.footer-container .col1 li {
  list-style: none;
}

.footer-container .col1 li :hover {
  color: #f3d424;
}

.installment {
  position: relative;
}

.installment h1 {
  text-align: center;
}

body {
  height: 80%;
}

.returnpolicy {
  position: relative;
}

.returnpolicy h1 {
  text-align: center;
}

.returnpolicy .return_table {
  border: solid 4px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f5fcce;
}

.returnpolicy .return_table th {
  border: solid 4px;
  text-align: center;
  width: 50%;
}

.returnpolicy .return_table td {
  border: solid 4px;
}

.warranty {
  position: relative;
}

.warranty h1 {
  text-align: center;
}

.home-wrapper {
  background-color: #b1adad;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.home-wrapper .container {
  padding: 0;
  margin-left: 100px;
  margin-right: 50px;
  background-color: #dad3d3;
  width: 100%;
}

.home-wrapper .container .categoryPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-wrapper .container .categoryPage .categoryList {
  color: white;
  background-color: #7e7a7a;
  height: 100%;
}

.home-wrapper .container .categoryPage .categoryList li a {
  color: white;
}

.home-wrapper .container .categoryPage .categoryList li a:hover {
  color: #c0b40e;
}

.home-wrapper .container .categoryPage .categoryList h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.home-wrapper .container .categoryPage .product_matrix {
  display: inline;
  right: 0;
  width: 80%;
}

.home-wrapper .container .categoryPage .product_matrix .product_item {
  display: inline-block;
  margin: 5px;
}

.home-wrapper .container .categoryPage .product_matrix .product_item a {
  color: black;
}

.home-wrapper .container .categoryPage .product_matrix .product_item a:hover {
  color: #a59b0a;
}

.home-wrapper .container .categoryPage .product_matrix .product_item img {
  height: 250px;
  width: 12vw;
}

.home-wrapper .container .categoryPage .product_matrix .product_item:hover {
  border-color: #f3d424;
}

.footer-container .col1 .location-wrapper {
  width: 120%;
}

.footer-container .col1 .location-wrapper .map {
  height: 150px !important;
}

.home-wrapper {
  position: relative;
  width: 100%;
  height: auto;
}

.home-wrapper .login-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100vh;
  border: 1px solid red;
  visibility: hidden;
  background-color: white;
}

.home-wrapper .active {
  visibility: visible;
}

.home-wrapper .main-screen {
  z-index: 1;
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
  background-color: #f3d424 !important;
  margin-right: 0px;
  border-left-style: solid;
  border-left-color: black;
  border-top-style: solid;
  border-top-color: black;
  border-bottom-style: solid;
  border-bottom-color: black;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.navbar.navbar-expand-lg.navbar-light.bg-light .navbar-brand {
  color: #f3d424;
  background-color: #2d2d2d;
  padding: 15px;
}

.navbar.navbar-expand-lg.navbar-light.bg-light .collapse.navbar-collapse .navbar-nav.mr-auto :hover {
  background-color: #f0e3e3;
}
/*# sourceMappingURL=index.css.map */