#map{
    height: 400px;
    width: 80%;
    border:1px solid red;
}
.container {
    width: 100%;
    margin: 0 5%;
}
@import "./styles/footer";
@import "./styles/installment";
@import "./styles/returnpolicy";
@import "./styles/warranty";
@import "./styles/category";
@import './styles/location';
@import './styles/loginForm';
@import './styles/navbar';