#map{
    height: 400px;
    width: 80%;
    border:1px solid red;
}


@import "./styles/footer";
@import "./styles/installment";
@import "./styles/returnpolicy";
@import "./styles/warranty";
@import "./styles/category";
@import './styles/location';
@import './styles/loginForm';
@import './styles/admin';
@import './styles/admin-login';
@import './styles/home';
@import './styles/product';
@import './styles/cart';
@import './styles/order';
@import './styles/address';
@import './styles/staff';
@import './styles/_error';


.footer-container {
    display: flex;
    justify-content: space-between;
    border-top: solid;
    border-color: black;
    background-color: azure;
    padding: 0px 16px;

    .col1 {
        display: inline-block;
        width: 24vw;
        height: 100%;
        top: 0;
        padding-left: 20px;
        min-height: 200px;

        li {
            list-style: none;
        }
    }
}