.home-wrapper{
    background-color: rgb(177, 173, 173);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
.container{
    padding:0;
    margin-left: 100px;
    //margin-right: 50px;
    background-color:  rgb(218, 211, 211);
    width: 100%;
   // margin: 0;
.categoryPage {
    //width: 90vw;
    //margin-left: 24px;
    // border: 0;
    display: flex ;
    .categoryList {
        li{
            a{
                color: white;
                &:hover{
                    color: rgb(192, 180, 14);
                }
            }
        }
        h2{
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size: 18px;
        }
        color: white;
        //border: solid;
        //border-color: white;
        background-color:  rgb(126, 122, 122);
        //width: auto;
        height: 100%;


        //display: inline-block;

        display: inline-block;
        ul {
            list-style: none;
            padding-left: 1vw;
        }
        h2 {
            font-size: 28px;
        }
    }
    .product_matrix {
        margin: 5px;
        display: inline;
        right:0;
        width: 80%;
        
        .product_item {
            &:hover {
                border: solid;
                border-color: rgb(243, 212, 36) ;
            }
            a{
                color: black;
                &:hover{
                    color: rgb(165, 155, 10);
                }
            }
            height: 30vh;
            width: 20%;
            //border:  solid white;
            display: inline-block;
            img {
                height: 100%;
                width: 100%;
            }
            &:hover {
                border: solid;
                border-color: rgb(243, 212, 36) ;
            }
            a {
                
                height: 100vh;
                width: 100vw;;
            }
        }
    }

}}}






