
body {
    min-height: 80vh;
}

.footer-container {
    height: 10%;
    position: relative;
    bottom:0;
    display: flex;
    justify-content: space-between;
    border-top: solid;
    border-color: black;
    background-color: azure;
    padding:0px 16px;
    .col1 {
        display: inline-block;
        width: 24vw;
        height: 100%; 
        top: 0;
        padding-left: 20px;
        min-height: 200px;
        // ul {

        // }
        li {
            list-style: none;
        }
    }
}