
body {
    min-height: 80vh;
}

.footer-container {
    color : white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgb(45, 45, 45) !important;
    position: relative;
    bottom:0;
    display: flex;
    justify-content: space-between;
    border-top: solid;
    border-color: black;
    background-color: azure;
    padding:0px 16px;
    a{
        color: white;
    }
    .col1 {
        display: inline-block;
        width: 24vw;
        height: 100%; 
        top: 0;
        padding-left: 20px;
        min-height: 200px;
        // ul {

        // }
        li {
            list-style: none;
            :hover{
                color: rgb(243, 212, 36);
            }
        }
    }
}