@mixin border {
    border:solid 4px;
}
body {
    height: 80%;
}
.returnpolicy {
<<<<<<< HEAD
    position: relative;
    //left: 20vw;
=======
    // position: relative;
    // left: 20vw;
>>>>>>> aa1ee68442631086b99625254cced3adf4f2d900
    h1 {
        text-align: center;
    }
    .return_table {
        @include border();
        width: 100%;
        justify-content: center;
        background-color: rgb(245, 252, 206);
        th {
            @include border();
            text-align: center;
            width: 50%;
        }
        td {
            @include border();
            
        }
    }
}