.admin-layout {
    display: flex;
    margin:0px;
    padding:0px;
    // height: 100vh !important;
    .container {
        margin: 0px;
        padding: 0px 24px;
        max-width: 100%;
        .manage-staff-container {
            height: 100vh;
            overflow-x: hidden;
            overflow-y: auto;

            .staff-table-wrapper {
                width: 100%;
                border: 1px solid red;
                height: 100vh;
                overflow-x: hidden;
                overflow-y: auto;

                .staff-table-row {
                    display: flex;
                    width: 100%;
                    height: 40px;
                    border: 1px solid blue;

                    .table-cell {
                        width: 50px;
                        border: 0.5px solid black;
                    }
                }
            }

        }

    }

    .slide-bar {
        position: relative;
        height: 100vh;
        width: 15%;
        border: 1px solid red;

        .slide-bar-brand {
            width: 100%;
            height: 40px;
            font-size: 20px;
            line-height: 22px;
            text-align: center;
            color: black;
            font-weight: 600;
            padding: 16px 0px;

            a {
                text-decoration: none;
                color: black;
                line-height: 22px;
            }
        }

        .slide-bar-admin-info {
            text-align: center;

            .slide-bar-admin-welcome,
            .slide-baar-admin-name {
                margin: 0px;
                height: 30px;
            }
        }

        .slide-bar-action {
            position: absolute;
            bottom: 24px;
            text-align: center;
            width: 100%;
            height: 40px;
        }
    }

}
