.box-confirm {
    display: none;
    position: fixed;
    top: 40vh;
    left: 35vw;
    width: 30vw;
    height: 20vh;
    z-index: 1000;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: white;
    font-size: 80%;
    .message-header {
        width: 100%;
        height: 20%;
        display: inline-flex;
        justify-content: space-between;
        padding: 0 5%;
        border-bottom: 1px solid #dedede;
        h6 {
            margin-bottom: 0;
        }
        .close-btn {
            position: relative;
            width: 5%;
            height: 100%;
            background: none;
            border: none;
            .my-x {
                position: absolute;
                top: 10%;
                left: -20%;
            }
            &:hover {
                color: rgb(129, 129, 129);
            }
        }
    }
    .message {
        padding: 1vh 1vw;
        width: 100%;
        height: 40%;
    }
    .button {
        position: absolute;
        bottom: 5%;
        right: 0%;
        width: fit-content;
        height: 30%;
        .btn {
            width: 40%;
            height: 70%;
            font-size: 90%;
            .realign {
                position: relative;
                left: -35%;
            }
        }
    }
}

.active {
    display: initial;
}

.form-order {
    padding: 10vh 0;
    .form-horizontal {
        padding: 2vh 2vw 4vh;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        background: #fff;
        .order-head {
            margin-bottom: 4vh;
            padding-bottom: 2vh;
            border-bottom: 1px solid #dedede;
        }
        .info-product {
            padding: 0 5%;
            width: 100%;
            border-bottom: 1px dashed #ccc;
            font-size: 80%;
            .product-item {
                position: relative;
                margin-bottom: 4vh;
                height: 20vh;
                display: flex;
                justify-content: space-between;
                .product-image {
                    height: 100%;
                    .img {
                        height: 100%;
                        img {
                            height: 100%;
                        }
                    }
                }
                .product-info {
                    width: 70%;
                    .product-spec {
                        .info {
                            margin: 0;
                        }
                        .name {
                            font-size: 1.5em;
                        }
                    }
                    .price {
                        margin-top: 2vh;
                        font-size: 1.25em;
                    }
                }
                .delete-btn {
                    position: absolute;
                    bottom: 0;
                    left: 30%;
                    background: none;
                    color: red;
                    border: none;
                }
            }
        }
        .cart-summary {
            margin-bottom: 4vh;
            padding: 2vh 0;
            border-bottom: 1px solid #dedede;
            .cart-format {
                margin-bottom: 2vh;
                display: flex;
                justify-content: space-between;
                .cart-label{
                    font-size: 20px;
                }
                .price{
                    font-size: 20px;
                }
            }
        }
        .form-group {
            margin-bottom: 4vh;
            .personal-info {
                padding-bottom: 4vh;
                border-bottom: 1px dashed #dedede;
            }
            .order-method {
                margin-bottom: 4vh;
                label {
                    margin: 0;
                }
            }
            .address-opt {
                margin-bottom: 4vh;
                padding-left: 2vw;
                box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
                border-radius: 10px;
            }    
            .order-btn {
                width: 100%;
                background-color: #FFC107;
                color: white;
            }
        }
    }
}