.home-wrapper{
    position: relative;
    width: 100%;
    height: 100vh;
    .container-fluid{
       height: auto;
       padding: 48px !important;
       
    }
    .login-wrapper {
        position: fixed;
        z-index: 5;
         left: 50%;
         top: 50%;
         transform: translate(-50%, -50%);
         width: 600px;
         height: 400px;
        //  border :1px solid red;
        background-color: white;
        display:flex;
        flex-direction: column;
        justify-content: center;
          visibility: hidden;
        form{
            width: 80%;
            height: 80%;
            margin: auto;
            display:flex;
            flex-direction: column;
            justify-content: center;
            .login-title{

            }
        }
    }

    .active {
        visibility: visible;
        //display: unset;
    }
    .main-screen{
        z-index:1;
    }
}

.register-form {
    position: relative;
    padding: 5% 0;
    font-size: 80%;
    .heading-form {
        text-align: center;
    }
    .register-btn {
        position: absolute;
        right: 0;
        margin-bottom: 5%;
    }
}