.home-wrapper {
  position: relative;
  width: 100%;
  height: auto;
<<<<<<< HEAD
}

.home-wrapper .container {
  height: 100vh;
=======
>>>>>>> e0cb30eaf20db030ed6f7cc37219856bee013498
}

.home-wrapper .login-wrapper {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100vh;
  border: 1px solid red;
  visibility: hidden;
  background-color: white;
}

.home-wrapper .active {
  visibility: visible;
}

.home-wrapper .main-screen {
  z-index: 1;
}
