@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.product {
    padding: 2vh 2vw;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid rgba(213, 213, 213, 0.5);
    border-bottom: 2px solid rgba(213, 213, 213, 0.5);
    font-size: 2vh;
    #carouselIndicators {
        margin: 0 5%;
        width: 30%;
        height: 100%;
        .carousel-indicators {
            li {
                background-color: rgb(129, 129, 129);
            }
        }
        .carousel-inner {
            width: 100%;
            height: 100%;
            .carousel-item {
                img {
                    width: 100%;
                    height: 100%;
                    margin: auto;
                }
            }
            .carousel-item-left {
                width: 100%;
                height: 100%
            }
            .carousel-item-right {
                width: 100%;
                height: 100%;
            }
        }
        .carousel-control-prev {
            .carousel-control-prev-icon {
                margin: 10%;
                width: 2vw;
                height: 2vw;
                border-radius: 50%;
                background-color: #ffc1074d;
                &:hover {
                    background-color: #ffc107bb;
                }
            }
        }
        .carousel-control-next {
            .carousel-control-next-icon {
                margin: 10%;
                width: 2vw;
                height: 2vw;
                border-radius: 50%;
                background-color: #ffc1074d;
                &:hover {
                    background-color: #ffc107bb;
                }
            }        
        }
    }
    .product-info {
        width: 30%;
        .alternative {
            display: table;
            width: 100%;
            height: 10vh;
            justify-items: space-between;
            box-sizing: border-box;
            border-spacing: 10px;
            .model {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                border: 1px solid rgba(128, 128, 128, 0.658);
                border-radius: 5px;
                p {
                    margin: 0;
                }
            }
        }
        .purchase-btn {
            margin: 0;
            width: 100%;
            height: 10vh;
            border: none;
            border-radius: 5px;
            background-color: #FFC107;
            color: #F8F9FA;
            font-size: 90%;
        }
        .divider {
            margin: 1vh;
            padding: 0;
            width: 100%;
            border: 1px dashed rgba(213, 213, 213, 0.5);
        }
        p {
            margin: 0;
            vertical-align: middle;
            text-align: center;
        }
        .btn-group {
            margin-bottom: 5vh;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1vw;
            justify-content: space-around;
            .grid-item {
                padding: 0;
                padding-left: 5%;
                text-align: left;
                border: 1px solid black;
                border-radius: 10px;
                box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.15);
                h6 {
                    margin: 0;
                }
                p {
                    text-align: left;
                }
                &:focus {
                    border: 1px solid red;
                }
            }
        }
    }
    .rightInfo {
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        .more-info {
            margin: 2vh 0;
            border: 1px solid rgba(166, 166, 166, 0.575);
            border-radius: 5%;
            ul {
                margin: 0;
                padding: 10% 0;
                list-style-type: none;
                li {
                    display: flex;
                    justify-content: space-between;
                    svg {
                        position: relative;
                        top: 1vh;
                    }
                    p {
                        margin: 0;
                        width: 98%;
                    }
                }
            }
        }
        .label {
            margin: 1vh 0;
            padding: 1em 0 1em 3%;
            width: 95%;
            height: 3.5em;
            position: relative;
            left: 2%;
            border-radius: 10px;
        }
        .branch-container {
            width: 90%;
            height: 30vh;
            // overflow-x: hidden;
            overflow-y: scroll;
            box-sizing: content-box;
        }
    }
}
.additional-info {
    height: max-content;
    #rating{
        padding: 0;
        height: 5vh;
        border: none;
        float: left;
        input {
            display: none;
        }
        label:before {
            margin: 5px;
            font-size: 1.255em;
            font-family: FontAwesome;
            display: inline-block;
            content: "\f005";
        }
        .half:before{
            content: "\f089";
            position: absolute;
        }
        label {
            color: #ddd;
            float: right;
        }
        input:checked ~ label,
        &:not(:checked) > label:hover,
        &:not(:checked) > label:hover ~ label {
            color:#FFD700;
        }
        input:checked+label:hover,
        input:checked~label:hover,
        label:hover~input:checked~label,
        input:checked~label:hover~label {
            color: #FFED85;
        }
    }
    .form-group {
        position: relative;
        width: 100%;
        height: 25vh;
        .input-comment {
            margin-top: 10vh;
        }
        .mb-2 {
            position: absolute;
            right: 0;
            margin: 0;
            margin-top: 1vh;
            padding: 1vh 1vw;
            width: 4rem;
            height: 2rem;
            border: none;
            font-size: 70%;
            text-align: center;
        }
    }
    .comment-container {
        margin-bottom: 5vh;
        width: 100%;
        .comment-element {
            margin: 1vh 0;
            .comment-info {
                padding: 0 1vw;
                display: flex;
                height: 5vh;
                justify-content: space-between;
                align-items: center;
                .time {
                    margin: 0;
                    font-size: 70%;
                }
            }
            .content {
                padding: 1em;
                border-radius: 15px;
            }
        }
        .answer-comment {
            position: relative;
            left: 2vw;
            border-radius: 10px;
            background-color: rgba(224, 224, 224, 0.658);
        }
    }
}
